body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(166, 166, 166);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(223, 225, 226);
    color: black;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(86, 86, 86);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: rgb(118, 118, 118);
}
button:active{
    background-color: rgb(209, 209, 209);
}
.operator-Btn{
    background-color: rgb(253, 187, 54);
}
.operator-Btn:hover{
    background-color: rgb(251, 200, 99);
}
.operator-Btn:active{
    background-color: rgb(255, 220, 149);
}